.form {
  
  .MuiFormControl-root {
    margin: 0 0 1.25rem 0;

    .MuiInputLabel-root {
      color: $white-secondary;

      &.Mui-focused {
        color: $blue;
      }

      &.Mui-error {
        color: $red!important;
      }
    }
    
    .MuiOutlinedInput-root {

      input.MuiInputBase-input, .MuiSelect-select {
        color: $white!important;
        padding: 14px!important;
      }

      input.MuiInputBase-input:-webkit-autofill{
        -webkit-text-fill-color: $white;
        -webkit-box-shadow: 0 0 0px 1000px #2B2F30 inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      fieldset {
        border-color: $white-secondary!important;
      }

      input.focus-visible + fieldset {
        border-color: $blue!important;
      }
      
      textarea.focus-visible + textarea + fieldset {
        border-color: $blue!important;
      }

      .MuiSelect-select + input + svg {
        color: $white-secondary;
      }

      .MuiSelect-select[aria-expanded="true"] + input + svg {
        color: $blue;

        & + fieldset {
          border-color: $blue!important;
        }
      }

      &.Mui-error {
        fieldset {
          border-color: $red!important;
        }
        
        input.focus-visible + fieldset {
          border-color: $red!important;
        }
        
        textarea.focus-visible + textarea + fieldset {
          border-color: $red!important;
        }
        
        .MuiSelect-select+ input + svg {
          color: $red!important;
        }

        .MuiSelect-select[aria-expanded="true"] + input + svg {
          
          & + fieldset {
            border-color: $red!important;
          }
        }
      }
    }
  }

  &.timeOption {
    display: flex!important;
    justify-content: space-between!important;
  
    .MuiFormControl-root {
      width: 150px!important;
      margin-bottom: 16px!important;
  
      & .MuiOutlinedInput-root .MuiSelect-select {
        padding-top: 7px!important;
        padding-bottom: 7px!important;
      }
    }
  }
}