.home {
  height: calc(100vh - 90px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .timeOption {
    display: flex;
    justify-content: space-between;

    .MuiFormControl-root {
      width: 150px;
      margin-bottom: 16px!important;

      & .MuiOutlinedInput-root .MuiSelect-select {
        padding-top: 7px!important;
        padding-bottom: 7px!important;
      }
    }
  }
}
