.login {
  background-image: linear-gradient(to right, $primary-light 0%, $primary 100%);

  .login-form {
    margin-bottom: 2rem;
    
    .MuiContainer-root{
      background: rgba(255, 255, 255, 0.09);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      
      .title {
        margin-bottom: 1.5rem;
        
        .MuiTypography-root {
          padding-top: 1rem;
          color: $white;
        }
      }
    }
  }

  .login-options {
    color: $white;
    text-align: center;
  }
}

.form {
  
  .MuiFormControl-root {
    margin: 0 0 1.25rem 0;

    .MuiInputLabel-root {
      color: $white-secondary;

      &.Mui-focused {
        color: $blue;
      }
    }
    
    .MuiOutlinedInput-root {

      input {
        color: $white!important;
        padding: 14px!important;
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: $white;
        -webkit-box-shadow: 0 0 0px 1000px #2B2F30 inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      fieldset {
        border-color: $white-secondary!important;
      }

      input.focus-visible + fieldset {
        border-color: $blue!important;
      }
      
      textarea.focus-visible + textarea + fieldset {
        border-color: $blue!important;
      }

      .MuiSelect-select[aria-expanded="true"] + input + svg {
        color: white;

        & + fieldset {
          border-color: $blue!important;
        }
      }
    }
  }
}