.login {
  background-image: linear-gradient(to right, $primary-light 0%, $primary 100%);

  .login-form {
    margin-bottom: 2rem;
    
    .MuiContainer-root{
      background: rgba(255, 255, 255, 0.09);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      
      .title {
        margin-bottom: 1.5rem;
        
        .MuiTypography-root {
          padding-top: 1rem;
          color: white;
        }
      }
      
      .form {
  
        .MuiFormControl-root {
          margin-bottom: 1.25rem;
  
          .MuiInputLabel-root {
            color: #7F8384;

            &.Mui-focused {
              color: $blue;
            }
          }
          
          .MuiOutlinedInput-root {
  
            input {
              color: white;
              padding: 14px;
            }
  
            fieldset {
              border-color: #7F8384;
            }

            input.focus-visible + fieldset {
              border-color: $blue;
            }
          }
        }
      }
    }
  }

  .login-options {
    color: $white;
    text-align: center;
  }

  .myButton {

    .MuiButton-root {
      margin-bottom: 1.5rem;
    }
  }
}