.posts {

  .no-posts {
    color: $white;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.post {
  background-color: $primary-light !important;
  margin-bottom: 1rem;
  border-radius: 12px !important;
  
  .MuiCardContent-root {
    padding-bottom: 0;

    .header {
      display: flex;
      align-items: center;
      
      .title {
        color: $white;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .author, .date {
        margin-left: 5px;
        color: $white-secondary;
      }

      .author {
        &:hover {
          cursor: pointer;
          color: $white;
        }
      }
    }

    .category {
      margin-bottom: 10px;

      .MuiChip-root {
        color: $white;
        height: 24px;
      }
    }

    .body {
      color: $white;
    }
  }

  .MuiCardActions-root {
    padding-left: 16px;
    gap: 10px;

    .icon-section {
      display: flex;
      align-items: center;

      .MuiTypography-root {
        color: $white-secondary;
        margin-top: 1.25px;
      }
    }

    #like, #dislike, #save, #comment {
      svg {
        color: $white-secondary;
      }
    }

    #like.checked{
      .MuiTypography-root, svg {
        color: $blue;
      }
    }

    #dislike.checked{
      .MuiTypography-root, svg {
        color: $red;
      }
    }
    
    #save.checked{
      .MuiTypography-root, svg {
        color: $purple;
      }
    }

    #comment.checked{
      .MuiTypography-root, svg {
        color: $blue;
      }
    }
  }  
}

.create-post {
  textarea{ 
    color: $white;
  }

  .MuiButton-root {
    margin-top: 0;
  }
}

.post {

  .reply {
    padding-top: 0!important;

    .form {
      display: flex;
      justify-content: center;

      .MuiFormControl-root {
        margin-bottom: 0!important;
      }

      .MuiButton-root {
        margin-top: 0!important;
        margin-bottom: 0!important;
        width: 80px;
      }
    }
    
  }
}