.post {
  background-color: $primary-light !important;
  margin-bottom: 1.5rem;

  .MuiCardContent-root {
    padding-bottom: 0;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      
      .title {
        color: $white;
        font-weight: bold;
      }

      .author, .date {
        margin-left: 5px;
        color: $white-secondary;
      }
    }

    .body {
      color: $white;
    }
  }

  .MuiCardActions-root {
    #like, #unlike, #fav {
      svg{
        color: $white-secondary;
      }
    }
  }  
}

.posts {
  height: calc(100vh - 90px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}