.post {
  background-color: $primary-light !important;
  margin-bottom: 1rem;
  border-radius: 12px !important;
  
  .MuiCardContent-root {
    padding-bottom: 0;

    .header {
      display: flex;
      align-items: center;
      
      .title {
        color: $white;
        font-weight: bold;
      }

      .author, .date {
        margin-left: 5px;
        color: $white-secondary;
      }

      .author {
        &:hover {
          cursor: pointer;
          color: $white;
        }
      }
    }

    .category {
      margin-bottom: 10px;

      .MuiChip-root {
        color: $white;
        height: 24px;
      }
    }

    .body {
      color: $white;
    }
  }

  .MuiCardActions-root {
    padding-left: 16px;

    .icon-section {
      display: flex;
      align-items: center;

      .MuiTypography-root {
        color: $white-secondary;
        margin-top: 1.25px;
      }
    }

    #like, #unlike, #save {
      svg {
        color: $white-secondary;
      }
    }

    #like.checked{
      .MuiTypography-root, svg {
        color: $blue;
      }
    }

    #unlike.checked{
      .MuiTypography-root, svg {
        color: $red;
      }
    }
    
    #save.checked{
      .MuiTypography-root, svg {
        color: $purple;
      }
    }
  }  
}

.create-post {
  textarea{ 
    color: $white;
  }
}