.profile {
  .profile-posts {
    height: calc(100vh - 280px);
    overflow-y: scroll;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .MuiTabs-flexContainer {
    button {
      color: $white;
      text-transform: none;
    }
  }

  .MuiTabs-indicator {
    background-color: $white
  }
}

.profile-info {
  margin-bottom: 10px;
  min-width: 350px;

  .profile-info-title {
    display: flex;
    justify-content: space-between;

    .name {
      color: $white;
      font-weight: bold;
    }
    
    .username {
      color: $white-secondary;
      margin-bottom: 15px;
    }

    .buttons {
      display: flex;
      gap: 5px;
      
      .MuiButton-root {
        margin: 0;
        padding: 4px 12px;

        .MuiTypography-root {
          font-size: 15px;
        }
      }
    }
  }

  .info {
    color: $white;
  }
}