.profile {
  height: calc(100vh - 90px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .profile-posts {
    height: calc(100vh - 280px);
    overflow-y: scroll;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .MuiTabs-flexContainer {
    button {
      color: $white;
      text-transform: none;
    }
  }

  .MuiTabs-indicator {
    background-color: $white
  }
}

.profile-info {
  margin-bottom: 10px;
  min-width: 350px;

  .info {
    color: $white;
  }
}

.profile-info-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .image {
    display: flex;
    gap: 10px;

    .name {
      color: $white;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      
      &.dont-underline{
        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }
    }
    
    .username {
      color: $white-secondary;
    }
  }

  .buttons {
    
    .MuiButton-root {
      margin: 0;
      padding: 4px 12px;

      .MuiTypography-root {
        font-size: 15px;
      }
    }
  }
}