.right-panel {
  
  .post-options {
    display: block;
    
    .MuiButton-root {
      display: flex;
      width: 100%;
      margin-top: 0;
    }
  }

  .recommended-users {
    background-color: $primary-light;
    color: $white;
    border-radius: 12px;
    padding: 6px 14px;

    .loading {
      background-color: $primary-light;
    }

    .title {
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .users {

      .user {
        padding: 7px;
        
        &:hover {
          border-radius: 12px;
          background-color: lighten($color: $primary-light, $amount: 15);
        }

        .profile-info-title {
          margin-bottom: 0;
        }
      }
    }
  }
}