// .myButton {

//   .MuiButton-root {
//     text-transform: capitalize;
//     color: $white;
//     background-color: $blue;

//     &:hover {
//       background-color: $blue;
//       filter: brightness(1.75)
//     }
//   }
// }

.textLink {
  color: $blue;

  &:hover {
    filter: brightness(1.75);
    cursor: pointer;
  }
}