$primary: #0E0E10;
$primary-light: #1B2223;
$secondary: #19857B;
$blue: #005EF3;
$blue-light: #79F2EC;
$purple: #533E85;
$purple-light: #A2B2EE;
$red: red;
$white: #FAFEFD;
$white-secondary: #7F8384;
